.about-creators {
  padding-bottom: 100px;

  @include onTablet {
    @include pageGrid;
  }

  &__content {
    grid-column: 1 / 4;

    &__title {
      color: $green;
      text-transform: uppercase;
      padding-bottom: 10px;
    }
  
    &__texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @extend %text2;
      padding-bottom: 30px;

      @include onTablet {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        gap: 15px;
        padding-bottom: 20px;
      }
    }

    &__button {
      padding-top: 25px;

      @include onTablet {
        padding-top: 30px;
        justify-content: left !important;
      }
    }
  }

  &__picture {
    display: none;

    @include onTablet {
      display: inline-block;
      grid-column: 4 / 7;
    }

    &-img {
      width: 100%;
      height: 440px;
      object-fit: cover;
    }
  }
}
