.about-creators {
  padding-bottom: 100px;

  @include onTablet {
    @include pageGrid;
    padding-bottom: 139px;
  }

  @include onDesktop {
    padding-bottom: 200px;
    position: relative;
  }

  &__caption {
    display: none;

    @include onDesktop {
      display: flex;
      width: 229px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      position: absolute;
      top: 0;
      left: 0;
      transform: rotate(-90deg) translate(-100% , 0);
      transform-origin: left top;
      text-wrap: nowrap;
    }

    &-line {
      width: 100px;
      height: 1px;
      background-color: $green;
      opacity: 0.5;
    }

    &-text {
      @extend %decorative_text;
      color: $green;
      opacity: 0.5;
    }
  }

  &__content {
    grid-column: 1 / 4;

    @include onDesktop {
      grid-column: 2 / 6;
    }

    &__title {
      color: $green;
      text-transform: uppercase;
      padding-bottom: 10px;

      @include onDesktop {
        display: none;
      }
    }

    &__title-pc {
      display: none;
      color: $green;
      text-transform: uppercase;
      padding-bottom: 34px;

      @include onDesktop {
        display: inline-block;
      }
    }
  
    &__texts {
      display: flex;
      flex-direction: column;
      gap: 20px;
      @extend %text2;
      padding-bottom: 30px;

      @include onTablet {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        gap: 15px;
        padding-bottom: 20px;
      }

      @include onDesktop {
        gap: 30px;
      }

      &-textForPc {
        display: none;

        @include onDesktop {
          display: inline-block;
        }
      }
    }

    &__button {
      padding-top: 25px;

      @include onTablet {
        padding-top: 30px;
        justify-content: left !important;
      }

      @include onDesktop {
        padding-top: 40px;
      }
    }
  }

  &__picture {
    display: none;

    @include onTablet {
      display: inline-block;
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 7 / -1;
    }

    &-img {
      width: 100%;
      height: 440px;
      object-fit: cover;

      @include onDesktop {
        height: 659px;
      }
    }
  }
}
