.caption {
  padding-block: 100px;
  padding-inline: 20px;

  @include onTablet {
    grid-column: 1 / -1;
    padding-block: 130px;
    display: flex;
    justify-content: center;
    padding-inline: 0px;
  }

  @include onDesktop {
    padding: 0;
    padding-block: 200px;
    flex-direction: column;
  }

  &__texts {
    &-block1 {
      @include onDesktop {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: end;
        align-self: start;
        padding-block: 100px;
        border-top: 1px solid rgba($green, 0.5);
      }
    }

    &-block2 {
      @include onDesktop {
        width: 100%;
        align-self: flex-end;
        padding-block: 131px;
        border-bottom: 1px solid rgba($green, 0.5);
      }
    }

    @include onDesktop {
      display: flex;
      justify-content: space-between;
      height: 346px;
      gap: 120px;
    }

    &-text1 {
      display: none;

      @include onDesktop {
        display: inline-block;
        width: 380px;
        line-height: 24px;
      }
    }

    &-text2 {
      color: $green;
      text-transform: uppercase;
      --font-size: 18px;
      letter-spacing: calc(var(--font-size) * 0.05);
      font-weight: 600;
      
      @include onTablet {
        text-align: center;
        width: 280px;
      }

      @include onDesktop {
        display: none;
      }
    }

    &-text2-pc {
      display: none;
      
      @include onDesktop {
        display: inline-block;;
        text-align: left;
        color: $green;
        text-transform: uppercase;
        width: 380px;
        align-self: flex-end;
      }
    }
  }
}
