.footer {
  background-color: $footer-color;
  padding-top: 30px;
  padding-bottom: 40px;
  color: $page-color;

  &__links {
    display: flex;
    flex-direction: column;
    gap: 11px;
    @extend %menu_text;
  }

  &__icons {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @extend %small_text;
    padding-bottom: 40px;
  }

  &__text {
    @extend %decorative_text;
    font-weight: 600;
    text-align: center;
  }
}