.footer {
  background-color: $footer-color;
  color: $page-color;
  padding-top: 30px;
  padding-bottom: 40px;

  @include onTablet {
    padding-top: 29px;
    padding-bottom: 30px;
  }

  &-container {
    @include onTablet {
      @include pageGrid;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 11px;
    @extend %menu_text;

    @include onTablet {
      grid-column: 1 / 4;
      gap: 15px;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0px;
    }
  
  }

  &__icons {
    display: flex;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;

    @include onTablet {
      grid-column: 1 / 4;
      padding-bottom: 50px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @extend %small_text;
    padding-bottom: 40px;

    @include onTablet {
      grid-column: 4 / -1;
      grid-row: 1 / span 2;
      padding: 0;
    }
  }

  &__text-mobile {
    @extend %decorative_text;
    font-weight: 600;
    text-align: center;

    @include onTablet {
      display: none;
    }
  }

  &__text {
    display: none;

    @include onTablet {
      display: inline-block;
      grid-column: 1 / 4;
    }
  }
}