@import "_utils.scss";
@import "_typography.scss";

@import "blocks/header.scss";
@import "blocks/hero.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: $page-color;
  color: $black;
  font-family: 'Poppins', sans-serif;
  @extend %text;
}

a {
  text-decoration: none;
  color: inherit;
}