%h {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 0;
}

%h1 {
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0px;
}

%h2 {
  font-size: 36px;
  line-height: 110%;
  letter-spacing: calc(36px * 0.05);
}

%h3 {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0px;
}

%h4 {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: calc(24px * 0.05);
}

%h5 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: calc(18px * 0.05);
}

%text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

%text2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: calc(14px * 0.05);
}

%text3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: calc(18px * 0.05);
}

%small_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

%menu_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
}

%button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: calc(16px * 0.15);
}

%decorative_text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}
