h5, h4, h3, h2, h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 130%;
  letter-spacing: 0px;
}

h2 {
  font-size: 36px;
  line-height: 110%;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0px;
}

h4 {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 1.2px;
}

h5 {
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.9px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.contact-us__content__text, .tooth-powder__benefits-block__text, .about-creators__content__texts, .shop__category-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.7px;
}

.header-content__nav-list-item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.9px;
}

input, textarea, .footer__text-tablet, .footer__info, .about-brand__texts-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.footer__links, .header__menu-nav__list-item {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0px;
}

.link-button, .footer__text-desktop, .footer__text-mobile, .contact-us__caption-text, .tooth-powder__caption-text, .about-creators__caption-text, .shop__caption-text, .about-brand__caption-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0px;
}

.header {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  position: relative;
}
@media (min-width: 640px) {
  .header {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .header {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
.header-content {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
}
@media (min-width: 640px) {
  .header-content {
    padding-block: 23px;
  }
}
@media (min-width: 1024px) {
  .header-content {
    padding-block: 40px;
  }
}
.header-content a {
  display: flex;
  align-items: center;
}
.header-content__img-icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .header-content__img-icon {
    display: none;
  }
}
.header-content__img-icon-big {
  display: none;
}
@media (min-width: 1024px) {
  .header-content__img-icon-big {
    display: block;
    width: 270px;
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .header-content__burger-menu {
    display: none;
  }
}
.header-content__burger-menu-icon {
  width: 20px;
  height: 13px;
}
.header-content__nav {
  display: none;
}
@media (min-width: 1024px) {
  .header-content__nav {
    display: block;
  }
}
.header-content__nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.header-content__nav-list-item {
  text-decoration: none;
  color: #344F10;
  line-height: 27px;
}
.header-content__shop-icon {
  width: 24px;
  height: 24px;
}
@media (min-width: 1024px) {
  .header-content__shop-icon {
    width: 32px;
    height: 32px;
  }
}
.header__menu {
  background-color: #333333;
  color: #E4DFD3;
  height: 100svh;
  width: 100svw;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin-inline: -20px;
  padding-top: 20px;
}
@media (min-width: 640px) {
  .header__menu {
    margin-inline: -27px;
    padding-top: 28px;
  }
}
@media (min-width: 1024px) {
  .header__menu {
    display: none;
  }
}
.header__menu-icon {
  width: 15px;
  height: 15px;
}
.header__menu-nav {
  padding-top: 45px;
}
@media (min-width: 640px) {
  .header__menu-nav {
    padding-top: 100px;
  }
}
.header__menu-nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
@media (min-width: 640px) {
  .header__menu-nav__list {
    gap: 50px;
  }
}
.header__menu-nav__list-item {
  width: 100%;
  font-weight: 600;
}
.header__menu-nav__list-item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #828282;
}

.menu-open {
  display: block;
}
@media (min-width: 1024px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  display: none;
}

@media (min-width: 640px) {
  .hero {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .hero {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .hero {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .hero {
    padding-top: 40px;
    grid-template-areas: "- text text text text text img img img img img img";
  }
}
@media (min-width: 640px) {
  .hero__picture {
    grid-column: 1/-1;
  }
}
@media (min-width: 1024px) {
  .hero__picture {
    grid-area: img;
  }
}
.hero__picture-img {
  width: calc(100% + 40px);
  height: 267px;
  margin-inline: -20px;
  object-fit: cover;
}
@media (min-width: 640px) {
  .hero__picture-img {
    width: 100%;
    grid-column: 1/-1;
    height: 500px;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .hero__picture-img {
    width: 100%;
    height: 451px;
    grid-area: img;
    margin: 0;
  }
}
.hero-content {
  --columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-column: 1/-1;
}
@media (min-width: 640px) {
  .hero-content {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) {
  .hero-content {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 640px) {
  .hero-content {
    padding: 0;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .hero-content {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.hero-content__text {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media (min-width: 640px) {
  .hero-content__text {
    grid-column: 2/-2;
  }
}
@media (min-width: 1024px) {
  .hero-content__text {
    flex-direction: column;
    gap: 30px;
    align-items: start;
  }
}
.hero-content__text-title {
  text-align: center;
  margin-top: 25px;
}
@media (min-width: 640px) {
  .hero-content__text-title {
    margin-top: 50px;
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
  }
}
@media (min-width: 1024px) {
  .hero-content__text-title {
    text-align: left;
    margin-top: 0;
    font-size: 60px;
    line-height: 78px;
  }
}
.hero-content__text-caption {
  text-align: center;
  margin-bottom: 30px;
}
@media (min-width: 640px) {
  .hero-content__text-caption {
    margin-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .hero-content__text-caption {
    margin: 0;
    text-align: left;
  }
}
.hero-content__button {
  grid-column: 1/-1;
}
@media (min-width: 1024px) {
  .hero-content__button {
    justify-content: start !important;
  }
}

.caption {
  padding-block: 100px;
  padding-inline: 20px;
}
@media (min-width: 640px) {
  .caption {
    grid-column: 1/-1;
    padding-block: 130px;
    display: flex;
    justify-content: center;
    padding-inline: 0px;
  }
}
@media (min-width: 1024px) {
  .caption {
    padding: 0;
    padding-block: 200px;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  .caption__texts-block1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: start;
    padding-block: 100px;
    border-top: 1px solid rgba(52, 79, 16, 0.5);
  }
}
@media (min-width: 1024px) {
  .caption__texts-block2 {
    width: 100%;
    align-self: flex-end;
    padding-block: 131px;
    border-bottom: 1px solid rgba(52, 79, 16, 0.5);
  }
}
@media (min-width: 1024px) {
  .caption__texts {
    display: flex;
    justify-content: space-between;
    height: 346px;
    gap: 120px;
  }
}
.caption__texts-text1 {
  display: none;
}
@media (min-width: 1024px) {
  .caption__texts-text1 {
    display: inline-block;
    width: 380px;
    line-height: 24px;
  }
}
.caption__texts-text2 {
  color: #344F10;
  text-transform: uppercase;
  --font-size: 18px;
  letter-spacing: calc(var(--font-size) * 0.05);
  font-weight: 600;
}
@media (min-width: 640px) {
  .caption__texts-text2 {
    text-align: center;
    width: 280px;
  }
}
@media (min-width: 1024px) {
  .caption__texts-text2 {
    display: none;
  }
}
.caption__texts-text2-pc {
  display: none;
}
@media (min-width: 1024px) {
  .caption__texts-text2-pc {
    display: inline-block;
    text-align: left;
    color: #344F10;
    text-transform: uppercase;
    width: 380px;
    align-self: flex-end;
  }
}

.about-brand {
  padding-bottom: 100px;
}
@media (min-width: 640px) {
  .about-brand {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    padding-bottom: 130px;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .about-brand {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .about-brand {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .about-brand {
    position: relative;
    padding-bottom: 200px;
  }
}
.about-brand__caption {
  display: none;
}
@media (min-width: 1024px) {
  .about-brand__caption {
    display: flex;
    width: 302px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
  }
}
.about-brand__caption-line {
  width: 100px;
  height: 1px;
  background-color: #344F10;
  opacity: 0.5;
}
.about-brand__caption-text {
  color: #344F10;
  opacity: 0.5;
}
@media (min-width: 640px) {
  .about-brand__texts {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .about-brand__texts {
    grid-column: 2/6;
  }
}
.about-brand__texts-title {
  color: #344F10;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .about-brand__texts-title {
    display: none;
  }
}
.about-brand__texts-title-pc {
  display: none;
}
@media (min-width: 1024px) {
  .about-brand__texts-title-pc {
    display: inline-block;
    color: #344F10;
    text-transform: uppercase;
  }
}
.about-brand__texts-text {
  padding-top: 10px;
  padding-bottom: 30px;
}
@media (min-width: 640px) {
  .about-brand__texts-text {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}
@media (min-width: 1024px) {
  .about-brand__texts-text {
    padding-top: 40px;
  }
}
.about-brand__texts-textForPc {
  display: none;
}
@media (min-width: 1024px) {
  .about-brand__texts-textForPc {
    display: inline-block;
    padding-bottom: 40px;
  }
}
.about-brand__picture {
  grid-column: 4/-1;
}
@media (min-width: 1024px) {
  .about-brand__picture {
    grid-column: 7/-1;
    height: 529px;
    display: flex;
    gap: 20px;
  }
}
.about-brand__picture-img {
  display: none;
}
@media (min-width: 640px) {
  .about-brand__picture-img {
    display: inline-block;
    width: 100%;
    height: 321px;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .about-brand__picture-img {
    max-width: 380px;
    height: 529px;
  }
}
.about-brand__picture-imgForPc {
  display: none;
}
@media (min-width: 1024px) {
  .about-brand__picture-imgForPc {
    display: inline-block;
    max-width: 180px;
    height: 430px;
    object-fit: cover;
    align-self: flex-end;
  }
}

.shop {
  padding-bottom: 100px;
}
@media (min-width: 640px) {
  .shop {
    padding-bottom: 130px;
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .shop {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .shop {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .shop {
    position: relative;
    padding-bottom: 200px;
  }
}
.shop__caption {
  display: none;
}
@media (min-width: 1024px) {
  .shop__caption {
    display: flex;
    width: 145px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
  }
}
.shop__caption-line {
  width: 100px;
  height: 1px;
  background-color: #344F10;
  opacity: 0.5;
}
.shop__caption-text {
  color: #344F10;
  opacity: 0.5;
}
.shop__title {
  color: #344F10;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
@media (min-width: 640px) {
  .shop__title {
    grid-column: 1/-1;
    text-align: left;
    padding-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .shop__title {
    display: none;
  }
}
.shop__title-pc {
  display: none;
}
@media (min-width: 1024px) {
  .shop__title-pc {
    display: inline-block;
    color: #344F10;
    text-transform: uppercase;
    grid-column: 2/-1;
    text-align: left;
    padding-bottom: 30px;
  }
}
.shop__category {
  display: flex;
  justify-content: center;
  gap: 34px;
  padding-bottom: 15px;
}
@media (min-width: 640px) {
  .shop__category {
    grid-column: 1/-1;
    justify-content: left;
    padding-bottom: 25px;
  }
}
@media (min-width: 1024px) {
  .shop__category {
    grid-column: 2/-1;
    gap: 51px;
    padding-bottom: 50px;
  }
}
.shop__category-btn {
  text-transform: uppercase;
  color: #828282;
  padding-bottom: 10px;
}
@media (min-width: 1024px) {
  .shop__category-btn {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.9px;
  }
}
.shop__category-btn:has(input[type=radio]:checked) {
  color: #333333;
  border-bottom: 2px solid #333333;
}
.shop__category-btn > input[type=radio] {
  appearance: none;
}
@media (min-width: 640px) {
  .shop__product {
    grid-column: 1/-1;
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .shop__product {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .shop__product {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .shop__product {
    grid-column: 2/-1;
    display: flex;
    gap: 20px;
  }
}
.shop__product-card {
  padding-bottom: 30px;
  width: 100%;
}
@media (min-width: 640px) {
  .shop__product-card {
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .shop__product-card {
    padding-bottom: 40px;
  }
}
.shop__product-card-img {
  width: calc(100% + 40px);
  height: 267px;
  margin-inline: -20px;
  object-fit: cover;
  padding-bottom: 20px;
}
@media (min-width: 640px) {
  .shop__product-card-img {
    width: 100%;
    height: 300px;
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .shop__product-card-img {
    height: 500px;
  }
}
.shop__product-card-title {
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media (min-width: 640px) {
  .shop__product-card-title {
    padding-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .shop__product-card-title {
    padding-bottom: 13px;
  }
}
.shop__product-card-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  .shop__button {
    grid-column: 1/-1;
  }
}

@media (min-width: 640px) {
  .card1 {
    grid-column: 1/4;
  }
}

.card2 {
  display: none;
}
@media (min-width: 640px) {
  .card2 {
    display: inline-block;
    grid-column: 4/-1;
  }
}

.about-creators {
  padding-bottom: 100px;
}
@media (min-width: 640px) {
  .about-creators {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    padding-bottom: 139px;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .about-creators {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .about-creators {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .about-creators {
    padding-bottom: 200px;
    position: relative;
  }
}
.about-creators__caption {
  display: none;
}
@media (min-width: 1024px) {
  .about-creators__caption {
    display: flex;
    width: 229px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    text-wrap: nowrap;
  }
}
.about-creators__caption-line {
  width: 100px;
  height: 1px;
  background-color: #344F10;
  opacity: 0.5;
}
.about-creators__caption-text {
  color: #344F10;
  opacity: 0.5;
}
.about-creators__content {
  grid-column: 1/4;
}
@media (min-width: 1024px) {
  .about-creators__content {
    grid-column: 2/6;
  }
}
.about-creators__content__title {
  color: #344F10;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media (min-width: 1024px) {
  .about-creators__content__title {
    display: none;
  }
}
.about-creators__content__title-pc {
  display: none;
  color: #344F10;
  text-transform: uppercase;
  padding-bottom: 34px;
}
@media (min-width: 1024px) {
  .about-creators__content__title-pc {
    display: inline-block;
  }
}
.about-creators__content__texts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}
@media (min-width: 640px) {
  .about-creators__content__texts {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    gap: 15px;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .about-creators__content__texts {
    gap: 30px;
  }
}
.about-creators__content__texts-textForPc {
  display: none;
}
@media (min-width: 1024px) {
  .about-creators__content__texts-textForPc {
    display: inline-block;
  }
}
.about-creators__content__button {
  padding-top: 25px;
}
@media (min-width: 640px) {
  .about-creators__content__button {
    padding-top: 30px;
    justify-content: left !important;
  }
}
@media (min-width: 1024px) {
  .about-creators__content__button {
    padding-top: 40px;
  }
}
.about-creators__picture {
  display: none;
}
@media (min-width: 640px) {
  .about-creators__picture {
    display: inline-block;
    grid-column: 4/7;
  }
}
@media (min-width: 1024px) {
  .about-creators__picture {
    grid-column: 7/-1;
  }
}
.about-creators__picture-img {
  width: 100%;
  height: 440px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .about-creators__picture-img {
    height: 659px;
  }
}

@media (min-width: 640px) {
  .tooth-powder {
    position: relative;
  }
}
@media (min-width: 1024px) {
  .tooth-powder {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 1024px) and (min-width: 640px) {
  .tooth-powder {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .tooth-powder {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
.tooth-powder__caption {
  display: none;
}
@media (min-width: 1024px) {
  .tooth-powder__caption {
    display: flex;
    width: 179px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    text-wrap: nowrap;
  }
}
.tooth-powder__caption-line {
  width: 100px;
  height: 1px;
  background-color: #344F10;
  opacity: 0.5;
}
.tooth-powder__caption-text {
  color: #344F10;
  opacity: 0.5;
}
.tooth-powder__title {
  color: #344F10;
  text-transform: uppercase;
  padding-bottom: 20px;
}
@media (min-width: 640px) {
  .tooth-powder__title {
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__title {
    display: none;
  }
}
.tooth-powder__title-pc {
  display: none;
}
@media (min-width: 1024px) {
  .tooth-powder__title-pc {
    display: inline-block;
    color: #344F10;
    text-transform: uppercase;
    grid-column: 2/6;
  }
}
.tooth-powder__jar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
}
@media (min-width: 640px) {
  .tooth-powder__jar {
    margin-top: -58px;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__jar {
    margin: 0;
    grid-column: 6/-1;
  }
}
.tooth-powder__jar-ingredients {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 49px;
  text-wrap: nowrap;
}
.tooth-powder__jar-ingredients span:nth-child(odd) {
  padding-bottom: 3px;
}
.tooth-powder__jar-img {
  height: 397px;
  width: 202px;
  margin-right: -20px;
}
@media (min-width: 640px) {
  .tooth-powder__jar-img {
    height: 397px;
    width: 418px;
    margin-right: -20px;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__jar-img {
    height: 397px;
    width: 480px;
    margin: 0;
  }
}
@media (min-width: 640px) {
  .tooth-powder__button {
    position: absolute;
    top: 382px;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__button {
    display: inline-block;
    grid-column: 2/4;
  }
}
.tooth-powder__benefits {
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (min-width: 640px) {
  .tooth-powder__benefits {
    padding-top: 121px;
    padding-bottom: 130px;
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    align-items: baseline;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .tooth-powder__benefits {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .tooth-powder__benefits {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__benefits {
    padding-block: 200px;
    grid-column: 1/-1;
  }
}
.tooth-powder__benefits-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
@media (min-width: 640px) {
  .tooth-powder__benefits-block {
    grid-column: span 2;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__benefits-block {
    grid-column: span 4;
  }
}
.tooth-powder__benefits-block__text {
  text-transform: uppercase;
  text-align: center;
}
.tooth-powder__benefits-block__img1 {
  width: 62px;
  height: 60px;
}
@media (min-width: 640px) {
  .tooth-powder__benefits-block__img1 {
    width: 80px;
    height: 60px;
  }
}
.tooth-powder__benefits-block__img2 {
  width: 100px;
  height: 84px;
}
@media (min-width: 640px) {
  .tooth-powder__benefits-block__img2 {
    width: 80px;
    height: 68px;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__benefits-block__img2 {
    width: 99px;
    height: 84px;
  }
}
.tooth-powder__benefits-block__img3 {
  width: 79px;
  height: 74px;
}
@media (min-width: 640px) {
  .tooth-powder__benefits-block__img3 {
    width: 80px;
    height: 75px;
  }
}
@media (min-width: 1024px) {
  .tooth-powder__benefits-block__img3 {
    width: 79px;
    height: 74px;
  }
}

.contact-us {
  padding-bottom: 100px;
}
@media (min-width: 640px) {
  .contact-us {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
    padding-bottom: 132px;
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .contact-us {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .contact-us {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
@media (min-width: 1024px) {
  .contact-us {
    position: relative;
    padding-bottom: 130px;
  }
}
.contact-us__caption {
  display: none;
}
@media (min-width: 1024px) {
  .contact-us__caption {
    display: flex;
    width: 132px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    text-wrap: nowrap;
  }
}
.contact-us__caption-line {
  width: 100px;
  height: 1px;
  background-color: #344F10;
  opacity: 0.5;
}
.contact-us__caption-text {
  color: #344F10;
  opacity: 0.5;
}
@media (min-width: 640px) {
  .contact-us__content {
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .contact-us__content {
    grid-column: 2/6;
  }
}
.contact-us__content__title {
  color: #344F10;
  text-transform: uppercase;
  padding-bottom: 10px;
}
@media (min-width: 1024px) {
  .contact-us__content__title {
    display: none;
  }
}
.contact-us__content__title-pc {
  display: none;
}
@media (min-width: 1024px) {
  .contact-us__content__title-pc {
    display: inline-block;
    color: #344F10;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
}
.contact-us__content__text {
  padding-bottom: 30px;
}
@media (min-width: 640px) {
  .contact-us__content__text {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .contact-us__content__text {
    padding-bottom: 40px;
  }
}
.contact-us__content__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 1024px) {
  .contact-us__content__form {
    gap: 50px;
  }
}
.contact-us__content__form-inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (min-width: 1024px) {
  .contact-us__content__form-inputs {
    gap: 30px;
  }
}
.contact-us__content__form-inputs-textarea {
  height: 47px;
  position: relative;
}
@media (min-width: 1024px) {
  .contact-us__content__form-inputs-textarea {
    height: 67px;
  }
}
.contact-us__content__form-inputs-textarea::placeholder {
  position: absolute;
  bottom: 3px;
}
.contact-us__content__form-button {
  justify-content: start !important;
}
@media (min-width: 640px) {
  .contact-us__picture {
    grid-column: 4/-1;
  }
}
@media (min-width: 1024px) {
  .contact-us__picture {
    grid-column: 7/-1;
  }
}
.contact-us__picture-img {
  display: none;
}
@media (min-width: 640px) {
  .contact-us__picture-img {
    display: inline-block;
    width: 100%;
    height: 407px;
    object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .contact-us__picture-img {
    height: 539px;
  }
}

.footer {
  background-color: #8C9772;
  color: #E4DFD3;
  padding-top: 30px;
  padding-bottom: 40px;
}
@media (min-width: 640px) {
  .footer {
    padding-top: 29px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .footer {
    gpadding-top: 60px;
    padding-bottom: 62px;
  }
}
@media (min-width: 640px) {
  .footer-container {
    --columns: 2;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(var(--columns), 1fr);
  }
}
@media (min-width: 640px) and (min-width: 640px) {
  .footer-container {
    --columns: 6;
    column-gap: 30px;
  }
}
@media (min-width: 640px) and (min-width: 1024px) {
  .footer-container {
    --columns: 12;
    column-gap: 20px;
    column-width: 80px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
@media (min-width: 640px) {
  .footer__links {
    grid-column: 1/4;
    gap: 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
  }
}
@media (min-width: 1024px) {
  .footer__links {
    grid-column: 1/8;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0px;
  }
}
.footer__icons {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
}
@media (min-width: 640px) {
  .footer__icons {
    grid-column: 1/4;
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .footer__icons {
    grid-column: 8/-1;
    padding: 0;
    padding-top: 30px;
  }
}
.footer__icons-img {
  height: 20px;
  width: 20px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 40px;
}
@media (min-width: 640px) {
  .footer__info {
    grid-column: 4/-1;
    grid-row: 1/span 2;
    padding: 0;
  }
}
@media (min-width: 1024px) {
  .footer__info {
    grid-column: 8/-1;
    gap: 20px;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }
}
.footer__text-mobile {
  font-weight: 600;
  text-align: center;
}
@media (min-width: 640px) {
  .footer__text-mobile {
    display: none;
  }
}
.footer__text-tablet {
  display: none;
}
@media (min-width: 640px) {
  .footer__text-tablet {
    display: inline-block;
    grid-column: 1/4;
  }
}
@media (min-width: 1024px) {
  .footer__text-tablet {
    display: none;
  }
}
.footer__text-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .footer__text-desktop {
    display: inline-block;
    grid-column: 1/8;
    grid-row: 3;
    align-self: flex-end;
    font-size: 18px;
  }
}

.upButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #333333;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  padding: 5px;
  transition: opacity 0.3s;
}
@media (min-width: 640px) {
  .upButton {
    display: block;
  }
}
.upButton:hover {
  opacity: 0.6;
}
.upButton__img {
  height: 25px;
  width: 25px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #E4DFD3;
  color: #333333;
  font-family: "Poppins", sans-serif;
}

.body-hidden {
  overflow: hidden;
}
@media (min-width: 1024px) {
  .body-hidden {
    overflow: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

input, textarea {
  color: #344F10;
  box-sizing: border-box;
  height: 38px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #BDBDBD;
}
@media (min-width: 640px) {
  input, textarea {
    font-weight: 500;
  }
}
@media (min-width: 1024px) {
  input, textarea {
    font-size: 18px;
    line-height: 130%;
  }
}
input::placeholder, textarea::placeholder {
  color: #828282;
  padding-bottom: 10px;
}
input:focus, textarea:focus {
  outline: none;
  border-color: #333333;
}
input:not(:placeholder-shown):not(:focus), textarea:not(:placeholder-shown):not(:focus) {
  border-color: #344F10;
}
input:invalid, input:invalid:not(:focus), textarea:invalid, textarea:invalid:not(:focus) {
  color: #EB5757;
  border-color: #EB5757;
}

.container {
  padding: 20px;
  padding-block: 0;
  max-width: 1180px;
  margin: 0 auto;
}
@media (min-width: 640px) {
  .container {
    padding: 27px;
    padding-block: 0;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 50px;
    padding-block: 0;
  }
}

.button-wrap {
  display: flex;
  justify-content: center;
}

.button {
  color: #F2F2F2;
  background-color: #333333;
  width: 100%;
  height: 60px;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  --font-size: 16px;
  letter-spacing: calc(var(--font-size) * 0.15);
  font-weight: 600;
}
@media (min-width: 640px) {
  .button {
    width: 280px;
  }
}

.link-button {
  color: #344F10;
  padding-bottom: 10px;
  border-bottom: 1px #344F10 solid;
}